src/FastText/training/ots_sms_model_v1.bin filter=lfs diff=lfs merge=lfs -text
src/FastText/training/ots_sms_model_v1.1.bin filter=lfs diff=lfs merge=lfs -text
src/BERT/training/bert_sms_spam_phishing_model/model.safetensors filter=lfs diff=lfs merge=lfs -text
src/mBERT/training/mbert-mlx-apple-silicon/mbert_ots_model_1.5.pth filter=lfs diff=lfs merge=lfs -text
src/mBERT/training/mbert-mlx-apple-silicon/converted_bert.npz filter=lfs diff=lfs merge=lfs -text
src/BERT/training/bert-mlx-apple-silicon/bert_ots_model_1.5.pth filter=lfs diff=lfs merge=lfs -text
src/FastText/training/ots_fastext_model_v1.7.5.bin filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
