openapi: 3.0.0
info:
  title: OTS API
  description: API for text-classification prediction.
  version: 2
servers:
  - url: https://europe.ots-api.telecomsxchange.com
    description: Open Text Shield Amsterdam Inference Server
paths:
  /predict/:
    post:
      operationId: predictText
      summary: Predict text using a specified model.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
                - model
                - bert_version
              properties:
                text:
                  type: string
                  example: Hello World
                model:
                  type: string
                  example: bert
                  enum:
                    - bert
                bert_version:
                  type: string
                  example: bert-base-multilingual-cased
      responses:
        "200":
          description: Prediction result
          content:
            application/json:
              schema:
                type: object
                properties:
                  label:
                    type: string
                  probability:
                    type: number
                    format: float
                  processing_time:
                    type: number
                    format: float
                  Model_Name:
                    type: string
                  Model_Version:
                    type: string
                  Model_Author:
                    type: string
                  Last_Training:
                    type: string
                    format: date
        "400":
          description: Bad request
